:root{
    --stick: #fdcece;
    --switch: #afd0fd;
}

* {
  box-sizing: border-box;
}
h1, h2{
    text-align: center;
}
/*user Probability*/
.calc-probability {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: space-around;
  max-width: 700px;
  margin: 0 auto;
}
.calc-probability h2{
  align-self: center;
    width: 100%;

}
.form-container {
  width: 40%;
  max-width: 10rem;
}
#probability-form {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}

.probability-output{
  display: grid;

}

.probability-output--graph {
  display: flex;
  flex-wrap: wrap;
  width: 12rem;
  justify-content: center;
  gap: 1rem;
}




.statistics-item > button{
  width: 80%;
}

.probability-items,
.statistics-items {
  list-style: none;
  margin: 0;
  padding: 2rem;
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}
.probability-item,
.statistics-item {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

.stick,
.switch {
  height: 12rem;
  width: 3.8rem;
  display: flex;
  flex-direction: column;
  justify-content: end;
  text-align: center;
}
.bar {
  width: 100%;
}
.result {
  height: 1rem;
  font-size: 1rem;
  position: absolute;
  font-weight: 800;
}
.stick .bar {
  background-color: var(--stick);
}
.switch .bar {
  background-color: var(--switch);
}

/*ERROR*/
.error-doors {
  position: relative;
}
.error-doors::after {
  content: 'Total doors should be greater than host doors at least by 2'; 
  position: absolute;
  font-size: 0.7rem;
  color: red;
  top: 3rem;
  left: 0;
}


.btn-recalculate {
    align-items: center;
    background-image: linear-gradient(360deg, #4085e4, #315b9f 50%, #3769b1 100%);
    border: 0;
    border-radius: 2px;
    box-shadow: rgb(151 65 252 / 20%) 0 15px 30px -5px;
    box-sizing: border-box;
    color: #FFFFFF;
    display: flex;
    font-family: Phantomsans, sans-serif;
    font-size: 20px;
    justify-content: center;

    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;

    cursor: pointer;
  }
  
  .btn-recalculate:active,
  .btn-recalculate:hover {
    outline: 0;
  }

  /*probability*/
